<!DOCTYPE html>
<html>

<head>
  <title>NodeJs App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> My First Nodejs App </h1>
  <form action="/newpage" method="POST">
    <p>First Name : <input type="text" name="firstname" placeholder="First Name" /></p>
    <p>Last Name : <input type="text" name="lastname" placeholder="Last Name" /></p>
    <input type="submit" value="Submit" />
  </form>
</body>

</html>